@keyframes background {
    0% {
        top: 200px;
    }
    100% {
        top: 0px;
    }
}

body {
    padding-top: 15rem;
    position: relative;
    background-image: url("../images/cartographer_D.png");
    animation-name: background;
    animation-duration: .5s;
}

h2 {
    font-size: 2rem;
    margin: 0 0 2rem 0;
    padding: 2rem 0 2rem 0;
    border-bottom: .1rem solid #777777;
}

h4 {
    opacity: .5;
    background-color: #777777;
    position: relative;
    bottom: 10rem;
    margin-bottom: -4rem;
    padding: 1rem 0 1rem;
    width: 100%;
    text-align: center;
}

#main, #sidebar {
    padding: 0 2rem 2rem 2rem;
    border: .1rem solid #2e2e2e;
    margin: 0 0 10rem 0;
}

.footer {
    text-align: center;
    padding: 1rem;
}

#message {
    height: 20rem;
}

.input-group-addon {
    width: 9rem;
}

.input-group {
    width: 100%;
}

#text {
    margin: 2rem 0;
    font-size: 1.7rem;
}

#logo {
    height: 2rem;
    width: inherit;
}

.bold {
    color: white;
}

.image {
    margin: 0;
    margin-bottom: 3rem;
    opacity: .7;
}

.image:hover {
    opacity: 1;
}

a:hover, a:focus {
    text-decoration: none;
}

.navbar {
    padding: 0 10% 0 10%;
}

iframe {
    width: 100%;
    height: 490px;
}

.container-fluid {
     margin-right: 0;
     margin-left: 0;
     padding-left: 0px;
     padding-right: 0px;
}

.container-fluid>.navbar-header{
    margin-left: 0;
}

@media only screen and (max-width: 767px){
    .navbar {
        padding: 0 5% 0 5%;
    }
}